* {
	box-sizing: border-box;
}
div {
	width: 30px;
	height: 30px;
	border: 1px solid;
	display: inline-block;
	margin: 5px;
	padding: 5px;
	background: lightgreen;
	cursor: pointer;
}
#end {
	width: 130px;
	height: 130px;
	background: rgba(100,100,100,.5);
	position: absolute;
	display: none;
}