* {
	box-sizing: border-box;
}
.board {
	width: 160px;
	background: khaki;
}
div {
	text-align: center;
	width: 40px;
	font-family: 'Raleway', sans-serif;
	height: 40px;
	border: 1px solid;
	display: inline-table;
	margin: 5px;
	padding: 5px;
	cursor: pointer;
	
	/* Чтобы блок не «выпадал» на новую строку */
	vertical-align:top;
}
.end {
	width: 160px;
	text-align: center;
	height: 160px;
	background: rgba(200,100,100,.4);
	position: absolute;
	display: none;
	color: white;
}

